process {

  // ── Global default ─────────────────────────────────────────────────────────
  tag = { meta.containsKey('id') ? meta.id : [meta.taxa, meta.cluster, meta.recomb_masked ? '[masked]' : null].findAll().join(' ') }
  publishDir = [
    path:   { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
    mode:   params.publish_dir_mode,
    saveAs: { fn -> fn == 'versions.yml' ? null : fn }
  ]

  // ── Initialize ─────────────────────────────────────────────────────────────
  withName: 'TIMESTAMP' {
    container  = 'public.ecr.aws/o8h2f0o1/bigbacter:2.0'
    tag = ''
    publishDir = [ enabled: false, path: { params.outdir } ]
  }

  // ── Per-sample ─────────────────────────────────────────────────────────────
  withName: 'FASTERQDUMP' {
    ext.args   = '-S'
    container  = 'quay.io/biocontainers/mulled-v2-5f89fe0cd045cb1d615630b9261a1d17943a9b6a:2f4a4c900edd6801ff0068c2b3048b4459d119eb-0'
    publishDir = [ path: { "${params.outdir}/${meta.timestamp}/${meta.id}/reads" }, pattern: "*.gz", mode: params.publish_dir_mode ]
  }
  withName: 'NCBI_DATASETS' {
    container  = 'docker.io/staphb/ncbi-datasets:18.18.0'
    publishDir = [ path: { "${params.outdir}/${meta.timestamp}/${meta.id}/asm" }, pattern: "contigs.fa", saveAs: { "${meta.id}.fa" }, mode: params.publish_dir_mode ]
  }
  withName: 'SEQTK_SAMPLE' {
    ext.args   = ""
    publishDir = [ enabled: false, path: { params.outdir } ]
  }
  withName: 'FASTQC' {
    ext.args   = "--quiet"
    publishDir = [ enabled: false, path: { params.outdir } ]
  }
  withName: 'FASTP' {
    publishDir = [ enabled: false, path: { params.outdir } ]
  }
  withName: 'SHOVILL' {
    container  = "docker.io/staphb/shovill:1.4.2"
    publishDir = [ path: { "${params.outdir}/${meta.timestamp}/${meta.id}/asm" }, pattern: "contigs.fa", saveAs: { "${meta.id}.fa" }, mode: params.publish_dir_mode ]
  }
  withName: 'STD_ASSEMBLY' {
    container  = 'public.ecr.aws/o8h2f0o1/bigbacter:2.0'
    publishDir = [ enabled: false, path: { params.outdir } ]
  }
  withName: 'GAMBIT_STAGE' {
    container  = 'public.ecr.aws/o8h2f0o1/bigbacter:2.0'
    tag = ''
    stageInMode = 'copy'
    publishDir = [ enabled: false]
  }
  withName: 'GAMBIT_QUERY' {
    publishDir = [ path: { "${params.outdir}/${meta.timestamp}/${meta.id}/taxa" }, saveAs: { fn -> fn == 'versions.yml' ? null : fn }, mode: params.publish_dir_mode ]
  }

  // ── Per-cluster ────────────────────────────────────────────────────────────
  withName: 'FLOC' {
    ext.args   = "--ksize 31 --scaled 100 --batch 1000"
    container  = 'public.ecr.aws/o8h2f0o1/floc:1.1'
    publishDir = [ path: { "${params.outdir}/${meta.timestamp}/${meta.taxa}/cluster" }, pattern: "*.{csv,sig,html,nwk}", mode: params.publish_dir_mode ]
  }
  withName: 'SELECT_REF' {
    container  = 'public.ecr.aws/o8h2f0o1/bigbacter:2.0'
    publishDir = [ enabled: false, path: { params.outdir } ]
  }
  withName: 'DS_RATE' {
    container  = 'public.ecr.aws/o8h2f0o1/bigbacter:2.0'
    publishDir = [ enabled: false, path: { params.outdir } ]
  }
  withName: 'SNIPPY_SINGLE' {
    container  = 'public.ecr.aws/o8h2f0o1/snippy:4.6.0-SC2'
    ext.args   = ''
    publishDir = [ path: { "${params.outdir}/${meta.timestamp}/${meta.taxa}/${meta.cluster}/var" }, pattern: "*.tar.gz", mode: 'copy' ]
  }
  withName: 'SNIPPY_CORE' {
    container  = 'public.ecr.aws/o8h2f0o1/snippy:4.6.0-SC2'
    publishDir = [ enabled: false, path: { params.outdir } ]
  }
  withName: 'GUBBINS' {
    container   = "docker.io/staphb/gubbins:3.4.1"
    stageInMode = 'copy'
    publishDir  = [
      [ pattern: "*.{vcf,bed}",                 path: { "${params.outdir}/${meta.timestamp}/${meta.taxa}/${meta.cluster}/recomb" }, saveAs: { fn -> [ [meta.timestamp, meta.taxa, meta.cluster].findAll().join('-'), meta.recomb_masked ? ".masked." : ".", fn.tokenize('.').last() ].findAll().join() },                    mode: 'copy' ],
      [ pattern: "*.per_branch_statistics.csv", path: { "${params.outdir}/${meta.timestamp}/${meta.taxa}/${meta.cluster}/recomb" }, saveAs: { fn -> [ [meta.timestamp, meta.taxa, meta.cluster].findAll().join('-'), meta.recomb_masked ? ".masked." : ".", "per_branch_statistics.csv" ].findAll().join() }, mode: 'copy' ]
    ]
  }
  withName: 'POLYCORE' {
    container  = 'public.ecr.aws/o8h2f0o1/polycore:1.0.0'
    ext.args   = "--progressive --ploidy 1 --snippy"
    publishDir = [
      [ pattern: 'core.aln',      path: { "${params.outdir}/${meta.timestamp}/${meta.taxa}/${meta.cluster}/aln" }, saveAs: { fn -> [ [meta.timestamp, meta.taxa, meta.cluster].findAll().join('-'), meta.recomb_masked ? ".masked." : ".", fn.tokenize('.').last() ].findAll().join() } ],
      [ pattern: 'core.full.aln', path: { "${params.outdir}/${meta.timestamp}/${meta.taxa}/${meta.cluster}/aln" }, saveAs: { fn -> [ [meta.timestamp, meta.taxa, meta.cluster].findAll().join('-'), "_full", meta.recomb_masked ? ".masked." : ".", fn.tokenize('.').last() ].findAll().join() } ],
      [ pattern: 'full.csv',      path: { "${params.outdir}/${meta.timestamp}/${meta.taxa}/${meta.cluster}/aln" }, saveAs: { fn -> [ [meta.timestamp, meta.taxa, meta.cluster].findAll().join('-'), "_full", meta.recomb_masked ? ".masked." : ".", fn.tokenize('.').last() ].findAll().join() } ],
      [ pattern: '*.html',        path: { "${params.outdir}/${meta.timestamp}/${meta.taxa}/${meta.cluster}/qc" },  saveAs: { fn -> [ [meta.timestamp, meta.taxa, meta.cluster].findAll().join('-'), "_cg-plot", meta.recomb_masked ? ".masked." : ".", fn.tokenize('.').last() ].findAll().join() } ]
    ]
  }
  withName: 'IQTREE' {
        container   = "public.ecr.aws/o8h2f0o1/iqtree3:3.1.3"
        ext.args  = '-m GTR+I+G --seqtype DNA -czb'
        stageInMode = 'copy'
        publishDir  = [ enabled: false, path: { params.outdir } ]
  }
  withName: 'CLUSTER' {
    container  = 'public.ecr.aws/o8h2f0o1/bigbacter:2.0'
    publishDir = [
      [ pattern: '*.nwk',         path: { "${params.outdir}/${meta.timestamp}/${meta.taxa}/${meta.cluster}/tree" } ],
      [ pattern: '*_summary.*',   path: { "${params.outdir}/${meta.timestamp}/${meta.taxa}/${meta.cluster}/summary" } ],
      [ pattern: '*-dist-*',      path: { "${params.outdir}/${meta.timestamp}/${meta.taxa}/${meta.cluster}/dist" } ],
      [ pattern: '*.microreact',  path: { "${params.outdir}/${meta.timestamp}/${meta.taxa}/${meta.cluster}/report" } ]
    ]
  }

  // ── Per-run ──────────────────────────────────────────────────────────────
  withName: 'ALL' {
    tag        = ''
    container  = 'public.ecr.aws/o8h2f0o1/bigbacter:2.0'
    publishDir = [
      [ pattern: '*.csv',       path: { "${params.outdir}/${meta.timestamp}/" } ]
    ]
  }

  // ── DB writes ──────────────────────────────────────────────────────────────
  withName: 'TAXA_FILES' {
    stageInMode = 'copy'
    container   = 'public.ecr.aws/o8h2f0o1/bigbacter:2.0'
      publishDir = [
        [ pattern: '*.sig.gz',  path: { "${params.db}/${meta.taxa}/sig/" }, mode: 'copy' ]
      ]
  }
  withName: 'CLUSTER_FILES' {
    stageInMode = 'copy'
    container   = 'public.ecr.aws/o8h2f0o1/bigbacter:2.0'
      publishDir = [
        [ pattern: '*.fa.gz',   path: { "${params.db}/${meta.taxa}/clusters/${meta.cluster}/asm/" }, mode: 'copy' ],
        [ pattern: '*.tar.gz',  path: { "${params.db}/${meta.taxa}/clusters/${meta.cluster}/var/" }, mode: 'copy' ],
        [ pattern: '*.json.gz', path: { "${params.db}/${meta.taxa}/clusters/${meta.cluster}/aux/" }, mode: 'copy' ]
      ]
  }

  withName: 'MULTIQC' {
    tag        = ''
    ext.args   = { params.multiqc_title ? "--title \"${params.multiqc_title}\"" : '' }
    publishDir = [ path: { "${params.outdir}/${timestamp}/multiqc" }, pattern: "multiqc_report.html", mode: params.publish_dir_mode ]
  }
}
